@model AdminVM[]

<h1>Admin view</h1>

<div>
	<ul class="list-group mb-3">
		@foreach (var member in Model)
		{
			<li style="list-style: none; text-align: left"> <div>@member.Email @member.FirstName @member.LastName</div></li>
		}

	</ul>
</div>